@font-face {
    font-family: 'Cyberverse Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Cyberverse\ Condensed.woff') format('woff');}

    .box {
      position: relative;
      display: block;
      margin: 10px 0px 10px 140px;

    }
    
    
    .overlay {
      position: relative;
      width: 80%;
      height: 55vh;
      border-radius: 97px;
      padding: 1px 61px;
      border: 16px solid black;
      background-color: rgba(0, 0, 0, 0.5); /* add this line */
      border-radius: 10px;
      transform: skew(20deg, 0);
      margin-left: 110px;
      box-shadow: 10px 25px 9px rgba(0, 0, 0, 0.5);
    }
    
    .font {
      box-sizing: border-box;
      width: 30%;
      height: 10vh;
      padding: 5px 65px;
      border-radius: 90px;
      border: 10px solid black;
      color: rgb(61, 232, 255);
      text-shadow: -10px 25px 9px rgb(28, 118, 136);
      font-size: 50px;
      font-family: "Cyberverse Condensed Regular";
      background-color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0;
      margin-left: 0px;
      border-radius: 10px;
      transform: skew(20deg, 0);
    }
    .font1 {
      color: rgb(61, 232, 255);
      text-shadow: -10px 25px 9px rgb(28, 118, 136);
      font-size: 50px;
      font-family: "Cyberverse Condensed Regular";
    }
    
      