@font-face {
    font-family: 'Cyberverse Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Cyberverse\ Condensed.woff') format('woff');}

.box {
    width: 500px;
    height: 300px;
    border: 10px solid black;
    position: relative;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.font{
    color: rgb(61, 232, 255);
    text-shadow: -10px 25px 9px rgb(28, 118, 136);
    font-size: 50px;
}