@font-face {
    font-family: 'Cyberverse Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Cyberverse\ Condensed.woff') format('woff');}

.container {
    width: 100%;
    padding: 65px 190px;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberverse Condensed Regular';
}

.font{
    color: rgb(61, 232, 255);
    text-shadow: 10px 15px 5px rgb(21, 103, 114);
}