.home{
    background: url(../assets/pic2.jpg) 0 0 repeat-y;
    width: 100%;
    height: 100%;
    color: white;
    background-attachment:local;
}
.backgroundContainer{
    background: url(../assets/pic5.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: auto;
    -webkit-box-reflect: below -66px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}