.container{
    width: 50rem;
    display: grid;
    
}
.card{
    background: transparent;
    background-size: cover;
    width: 10rem;
}

.tilt {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}